<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="/home">Vivek Tumrukota</a>
  <button class="navbar-toggler" type="button" 
    data-toggle="collapse" 
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div layout="row" layout-align="start center" class="collapse navbar-collapse" id="navbarNavAltMarkup" flex="30">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/about">About</a>
      <!-- <a class="nav-item nav-link" routerLink="/experience">Experience</a> -->
      <a class="nav-item nav-link" href="#">Contact</a>          
    </div>
  </div>
  <div layout="row" layout-align="start center" class="social-media">
    <ul class="social-media-links">
      <li class="social-link" layout="row" layout-align="start center"
        *ngFor="let social of socialMedia">
        <a href="{{social.link}}" target="_blank">
          <img [src]="social.icon">
        </a>
      </li>
    </ul>
  </div>
</nav>