nav.navbar {
  background: linear-gradient(to right, rgb(0, 19, 245), rgb(238, 105, 44));
  box-shadow: 2px 2px gray;
}

img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}
img:hover {
  border: 2px solid gray;
}

.contact {
  width: 300px;
}

.social-media {
  width: 250px;
}

.social-link {
  text-align: center;
  margin: 10px;
  clear: none;
  float: right;
}